.downvoted-post {
    padding: 16px 32px;
    width: 100%;
}

.downvoted-post__container {
    display: flex;
    gap: 32px;
}

.downvoted-post__left {
    width: 100%;
}

.downvoted-post__right {
    width: 400px;
    background-color: red;
}