.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    line-height: 1.5;
    font-weight: 600;
    font-size: 1.2rem;
    color: #d7dadc;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.close-button:hover {
    color: #fff;
}

.close-button__icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: #d7dadc;
}