.post-skeleton {
    display: flex;
    padding: 4px 8px;
    border: thin solid #ccc;
    background-color: #e6eaee;
}

.post-skeleton:hover {
    border-color: #888;
}

.post-skeleton__left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-skeleton__right {
    width: 100%;
}