.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    color: rgb(215, 218, 220);
    background-color: #030303;
}

.comment-post-vote {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.comment-post-vote::before,
.comment-post-vote::after {
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background-color: #343536ed;
}

.comment-post-votes {
    font-size: 1.2rem;
    font-weight: 600;
}

.comment-post-title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: auto;
}